# ÌîÑÎ°úÏ†ùÌä∏Î™Ö: Îç∞Ïù¥ÌÑ∞ ÏàòÏßë Ïã§Ïäµ 2 (Í≥µÍ≥µÎç∞Ïù¥ÌÑ∞Ìè¨ÌÑ∏ APIÎ°ú Î∞õÍ∏∞) 

#### üìå requestsÎäî APIÎ•º Ìò∏Ï∂úÌï† Îïå Ï£ºÎ°ú ÏÇ¨Ïö©ÌïòÎäî ÎùºÏù¥Î∏åÎü¨Î¶¨ÏûÖÎãàÎã§. 
- ÏÑúÎ≤ÑÏóê HTTP ÏöîÏ≤≠ÏùÑ Î≥¥ÎÇºÎïå Ï£ºÎ°ú ÏÇ¨Ïö©ÌïòÎ©∞, GET, POST, PUT, DELETEÎ•º ÏÇ¨Ïö©Ìï† Ïàò ÏûàÏäµÎãàÎã§.
- Îç∞Ïù¥ÌÑ∞ APIÏùò ÏöîÍµ¨ÏÇ¨Ìï≠Ïóê ÎßûÍ≤å ÏöîÏ≤≠Ìï¥ÏïºÌïòÎ©∞, Î≥¥ÌÜµÏùÄ "GET", "POST"Î•º Ï£ºÎ°ú ÏÇ¨Ïö©Îê©ÎãàÎã§.

#### üö® Ï£ºÏùòÏÇ¨Ìï≠
- Í≥µÍ≥µÎç∞Ïù¥ÌÑ∞Ìè¨ÌÑ∏ÏóêÏÑ† Ïö¥ÏòÅÍ≥ÑÏ†ïÏùÑ Ïã†Ï≤≠Ìï¥ÏÑú ÏÑúÎπÑÏä§ÌÇ§Î•º Î∞õÏïÑÏïºÌï©ÎãàÎã§.
- ÏûêÏÑ∏Ìïú ÎÇ¥Ïö©ÏùÄ Î≥¥ÌÜµ API ÏÇ¨Ïö©Î¨∏ÏÑúÎ•º Ï∞∏Í≥†Ìï©ÎãàÎã§. 

![dddd](https://file.notion.so/f/f/4e4750b9-2973-47f2-9fe5-8330ce1f2c19/b501deab-8d96-4c0a-aca3-eb13441bb80a/%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA_2024-05-22_%E1%84%8B%E1%85%A9%E1%84%92%E1%85%AE_9.00.51.png?id=bcc828ed-b1c4-4818-b658-4604e9ba6c26&table=block&spaceId=4e4750b9-2973-47f2-9fe5-8330ce1f2c19&expirationTimestamp=1716472800000&signature=TxFSv1p8bqyg9WZNNQZUmgFX78b1_1cSuwGJ75amj9o&downloadName=%E1%84%89%E1%85%B3%E1%84%8F%E1%85%B3%E1%84%85%E1%85%B5%E1%86%AB%E1%84%89%E1%85%A3%E1%86%BA+2024-05-22+%E1%84%8B%E1%85%A9%E1%84%92%E1%85%AE+9.00.51.png)

### 1Ïùº Ï∞®Ïù¥Ïùò ÏÇ¨Ïù¥ Í∞í Í∞ÄÏ†∏Ïò§Í∏∞

In [1]:
from datetime import datetime, timedelta

start_date = datetime.strptime('2023-01-01', '%Y-%m-%d')
end_date = datetime.strptime('2024-01-01', '%Y-%m-%d')

date_range = []
for i in range((end_date - start_date).days + 1):
    res_date = start_date + timedelta(days=i)
    res_date = res_date.strftime('%Y-%m-%d')
    date_range.append(res_date)

### 1ÎÖÑ Ï∞®Ïù¥Ïùò ÌïúÎã¨ Í∞ÑÍ≤© Í∞ÄÏ†∏Ïò§Í∏∞

In [2]:
from datetime import datetime
from dateutil.relativedelta import relativedelta

start_date = datetime.strptime('2023-01-01', '%Y-%m-%d')
end_date = datetime.strptime('2024-01-01', '%Y-%m-%d')

date_range = []
current_date = start_date
while current_date < end_date:
    res_date = current_date.strftime('%Y-%m-%d')
    date_range.append(res_date)
    current_date += relativedelta(months=1)

print(date_range)

['2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01', '2023-05-01', '2023-06-01', '2023-07-01', '2023-08-01', '2023-09-01', '2023-10-01', '2023-11-01', '2023-12-01']

### Í∏∞ÏÉÅÏ≤≠Ïùò 2023ÎÖÑ ÏÑúÏö∏Ïùò Îç∞Ïù¥ÌÑ∞ Í∞ÄÏ†∏Ïò§Í∏∞ (1ÎÖÑÏπò Îç∞Ïù¥ÌÑ∞ Í∞ÄÏ†∏Ïò§Í∏∞)

In [3]:
from datetime import datetime
from dateutil.relativedelta import relativedelta

start_date = datetime.strptime('2023-01-01', '%Y-%m-%d')
end_date = datetime.strptime('2024-02-01', '%Y-%m-%d')

date_range = []
current_date = start_date
while current_date < end_date:
    res_date = current_date.strftime('%Y%m%d')
    date_range.append(res_date)
    current_date += relativedelta(months=1)

print(date_range)

['20230101', '20230201', '20230301', '20230401', '20230501', '20230601', '20230701', '20230801', '20230901', '20231001', '20231101', '20231201', '20240101']

In [4]:
start_end_date = []
for i in range(len(date_range) -1):
    start_end_date.append([date_range[i], date_range[i+1]])

In [5]:
from tqdm import tqdm
import requests
import pandas as pd
import time

url = 'http://apis.data.go.kr/1360000/AsosHourlyInfoService/getWthrDataList'
key = '''mN6190pLpfwzS1UNprd6307v+n1bR+G+vI0oJVxVuzRtb89yesxXkd5ml005Wvea+NzQlwWjSkx3QE1UVD3sqg=='''

dfs = []
for i in tqdm(start_end_date):
    print(i)

    params = {'serviceKey' : key, 
            'pageNo' : '1', 
            'numOfRows' : '999', 
            'dataType' : 'JSON', 
            'dataCd' : 'ASOS', ## ÏûêÎ£åÎ∂ÑÎ•òÏΩîÎìú
            'dateCd' : 'HR', ## ÎÇ†ÏßúÎ∂ÑÎ•òÏΩîÎìú
            'startDt' : str(i[0]), ## ÏãúÏûëÏùº
            'startHh' : '00', ## ÏãúÏûëÏãúÍ∞Ñ
            'endDt' : str(i[1]), ## Ï¢ÖÎ£åÏùº
            'endHh': '00', ## Ï¢ÖÎ£åÏãúÍ∞Ñ
            'stnIds' : '108' ## ÏÑúÏö∏ÏßÄÏó≠ÏΩîÎìú
            }

    response = requests.get(url, params=params)
    result = response.json()
    df = pd.DataFrame(result['response']['body']['items']['item'])
    dfs.append(df)

final_df = pd.concat(dfs, axis=0, ignore_index=True)

  0%|          | 0/12 [00:00<?, ?it/s]

['20230101', '20230201']

  8%|‚ñä         | 1/12 [00:01<00:17,  1.59s/it]

['20230201', '20230301']

 17%|‚ñà‚ñã        | 2/12 [00:34<03:22, 20.25s/it]

['20230301', '20230401']

 25%|‚ñà‚ñà‚ñå       | 3/12 [00:36<01:43, 11.54s/it]

['20230401', '20230501']

 33%|‚ñà‚ñà‚ñà‚ñé      | 4/12 [00:37<00:59,  7.43s/it]

['20230501', '20230601']

 42%|‚ñà‚ñà‚ñà‚ñà‚ñè     | 5/12 [00:38<00:35,  5.14s/it]

['20230601', '20230701']

 50%|‚ñà‚ñà‚ñà‚ñà‚ñà     | 6/12 [00:39<00:22,  3.80s/it]

['20230701', '20230801']

 58%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñä    | 7/12 [00:40<00:14,  2.93s/it]

['20230801', '20230901']

 67%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñã   | 8/12 [00:41<00:09,  2.35s/it]

['20230901', '20231001']

 75%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñå  | 9/12 [00:43<00:06,  2.15s/it]

['20231001', '20231101']

 83%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñé | 10/12 [00:44<00:03,  1.84s/it]

['20231101', '20231201']

 92%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñè| 11/12 [00:46<00:01,  1.77s/it]

['20231201', '20240101']

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 12/12 [00:47<00:00,  3.99s/it]

In [6]:
## final_dfÏùò Í≤∞Ï∏°Ïπò ÌôïÏù∏
final_df.isnull().sum()

tm            0
rnum          0
stnId         0
stnNm         0
ta            0
taQcflg       0
rn            0
rnQcflg       0
ws            0
wsQcflg       0
wd            0
wdQcflg       0
hm            0
hmQcflg       0
pv            0
td            0
pa            0
paQcflg       0
ps            0
psQcflg       0
ss            0
ssQcflg       0
icsr          0
dsnw          0
hr3Fhsc       0
dc10Tca       0
dc10LmcsCa    0
clfmAbbrCd    0
lcsCh         0
vs            0
gndSttCd      0
dmstMtphNo    0
ts            0
tsQcflg       0
m005Te        0
m01Te         0
m02Te         0
m03Te         0
dtype: int64

In [8]:
final_df['tm'] = pd.to_datetime(final_df['tm'])

In [10]:
final_df['date'] = final_df['tm'].dt.date
final_df['hour'] = final_df['tm'].dt.hour

In [14]:
final_df.groupby('date').size().reset_index(name='count').sort_values('count', ascending=False)

           date  count
212  2023-08-01     25
304  2023-11-01     25
273  2023-10-01     25
181  2023-07-01     25
90   2023-04-01     25
..          ...    ...
122  2023-05-03     24
121  2023-05-02     24
119  2023-04-30     24
118  2023-04-29     24
365  2024-01-01      1

[366 rows x 2 columns]

In [15]:
final_df[final_df['date'] == '2023-08-01']

Empty DataFrame
Columns: [tm, rnum, stnId, stnNm, ta, taQcflg, rn, rnQcflg, ws, wsQcflg, wd, wdQcflg, hm, hmQcflg, pv, td, pa, paQcflg, ps, psQcflg, ss, ssQcflg, icsr, dsnw, hr3Fhsc, dc10Tca, dc10LmcsCa, clfmAbbrCd, lcsCh, vs, gndSttCd, dmstMtphNo, ts, tsQcflg, m005Te, m01Te, m02Te, m03Te, date, hour]
Index: []

[0 rows x 40 columns]

In [16]:
final_df['date'] = final_df['date'].astype(str)

In [17]:
final_df[final_df['date'] == '2023-08-01']

,tm,rnum,stnId,stnNm,ta,taQcflg,rn,rnQcflg,ws,wsQcflg,...,gndSttCd,dmstMtphNo,ts,tsQcflg,m005Te,m01Te,m02Te,m03Te,date,hour
5094,2023-08-01 00:00:00,745,108,ÏÑúÏö∏,27.7,,,9,1.2,,...,,,26.2,,29.1,29.1,28.2,28.0,2023-08-01,0
5095,2023-08-01 00:00:00,1,108,ÏÑúÏö∏,27.7,,,9,1.2,,...,,,26.2,,29.1,29.1,28.2,28.0,2023-08-01,0
5096,2023-08-01 01:00:00,2,108,ÏÑúÏö∏,27.1,,,,1.4,,...,,,25.6,,28.9,28.9,28.1,27.9,2023-08-01,1
5097,2023-08-01 02:00:00,3,108,ÏÑúÏö∏,26.5,,,,2.2,,...,,,25.3,,28.7,28.7,28.0,27.9,2023-08-01,2
5098,2023-08-01 03:00:00,4,108,ÏÑúÏö∏,26.2,,,,1.9,,...,,,25.0,,28.5,28.6,27.9,27.9,2023-08-01,3
5099,2023-08-01 04:00:00,5,108,ÏÑúÏö∏,26.0,,,,1.5,,...,,,24.8,,28.3,28.4,27.7,27.8,2023-08-01,4
5100,2023-08-01 05:00:00,6,108,ÏÑúÏö∏,25.7,,,,1.4,,...,,,24.6,,28.1,28.2,27.6,27.7,2023-08-01,5
5101,2023-08-01 06:00:00,7,108,ÏÑúÏö∏,25.5,,,,1.9,,...,,,24.7,,27.9,28.0,27.5,27.7,2023-08-01,6
5102,2023-08-01 07:00:00,8,108,ÏÑúÏö∏,26.0,,,,1.8,,...,,,25.9,,27.8,27.9,27.4,27.6,2023-08-01,7
5103,2023-08-01 08:00:00,9,108,ÏÑúÏö∏,27.4,,,,2.0,,...,,,29.9,,27.8,27.8,27.3,27.5,2023-08-01,8
5104,2023-08-01 09:00:00,10,108,ÏÑúÏö∏,29.1,,,,1.8,,...,,,34.8,,28.0,27.9,27.2,27.5,2023-08-01,9
5105,2023-08-01 10:00:00,11,108,ÏÑúÏö∏,30.6,,,,2.6,,...,,,35.8,,28.6,28.2,27.2,27.4,2023-08-01,10
5106,2023-08-01 11:00:00,12,108,ÏÑúÏö∏,30.9,,,,0.9,,...,,,37.6,,29.1,28.5,27.2,27.3,2023-08-01,11
5107,2023-08-01 12:00:00,13,108,ÏÑúÏö∏,32.2,,,,1.7,,...,,,42.6,,29.7,29.0,27.3,27.3,2023-08-01,12
5108,2023-08-01 13:00:00,14,108,ÏÑúÏö∏,33.3,,,,1.7,,...,,,41.0,,30.5,29.6,27.5,27.3,2023-08-01,13
5109,2023-08-01 14:00:00,15,108,ÏÑúÏö∏,33.8,,,,1.3,,...,,,37.3,,31.2,30.2,27.8,27.4,2023-08-01,14
5110,2023-08-01 15:00:00,16,108,ÏÑúÏö∏,33.7,,,,1.8,,...,,,35.7,,31.5,30.5,28.1,27.5,2023-08-01,15
5111,2023-08-01 16:00:00,17,108,ÏÑúÏö∏,33.5,,,,2.4,,...,,,35.9,,31.5,30.7,28.4,27.6,2023-08-01,16
5112,2023-08-01 17:00:00,18,108,ÏÑúÏö∏,34.1,,,,2.6,,...,,,35.5,,31.5,30.8,28.6,27.7,2023-08-01,17
5113,2023-08-01 18:00:00,19,108,ÏÑúÏö∏,33.2,,,,2.6,,...,,,31.9,,31.5,30.9,28.8,27.9,2023-08-01,18
5114,2023-08-01 19:00:00,20,108,ÏÑúÏö∏,32.5,,,,2.4,,...,,,29.9,,31.3,30.8,28.9,28.0,2023-08-01,19
5115,2023-08-01 20:00:00,21,108,ÏÑúÏö∏,31.4,,,,0.9,,...,,,28.4,,31.0,30.7,28.9,28.1,2023-08-01,20
5116,2023-08-01 21:00:00,22,108,ÏÑúÏö∏,30.6,,,,1.6,,...,,,27.5,,30.6,30.4,28.9,28.2,2023-08-01,21
5117,2023-08-01 22:00:00,23,108,ÏÑúÏö∏,29.9,,,,1.5,,...,,,27.1,,30.3,30.1,28.9,28.3,2023-08-01,22
5118,2023-08-01 23:00:00,24,108,ÏÑúÏö∏,29.3,,,,1.0,,...,,,26.7,,29.9,29.9,28.8,28.3,2023-08-01,23